.cta-main-container {
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.cta-heading-text {
	font-size: clamp(2rem, 2vw, 4rem);
	letter-spacing: 5px;
	font-family: Zen Dots;
	margin-bottom: 10px;
	text-align: center;
}

.cta-btn {
	transition: background 0.3s ease-in-out;
}

.cta-btn:hover {
	background-color: var(--hover-button);
}

.cta-subtext-text {
	font-weight: 500;
	font-size: clamp(1.125rem, 1.125vw, 3rem);
	padding-bottom: 1rem;
	text-align: center;
}
