.main-header-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 1rem;
	align-items: center;
	color: var(--dh-color);
}

.button-container {
	position: relative;
}

.header-btn-notification {
	position: relative;
	cursor: pointer;
	top: 5px;
	color: var(--text-color);
}

.notification-count {
	position: absolute;
	top: 0px;
	right: 3px;
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 0.1rem 0.3rem;
	font-size: 0.65rem;
	font-weight: bold;
}

.modal-button {
	position: absolute;
	z-index: 5;
	top: 3rem;
	right: 0rem;
	height: fit-content;
	max-height: 25rem;
	width: 20rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--hover-button);
	padding: 0.5rem 0.5rem;
}

.modal-button-profile {
	position: absolute;
	z-index: 100;
	top: 3rem;
	right: 0rem;
	height: fit-content;
	width: 20rem;
	background-color: var(--hover-button);
	padding: 0.5rem 0.5rem;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 1rem;
}

.header-content {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
}

.profile-picture {
	grid-row: span 2;
}

.user-name {
	height: 100%;
	text-align: start;
	font-size: clamp(1rem, 1.15vw, 1.5rem);
	font-weight: bold;
	margin-top: 1rem;
}

.user-email {
	margin-top: -1.5rem;
	height: 100%;
	opacity: 0.5;
	text-align: start;
	font-size: clamp(0.8rem, 0.5vw, 1rem);
}

.link-container {
	border-top: 1px solid rgba(245, 245, 245, 0.192);
	padding: 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile-btn,
.logout-btn {
	border-bottom: 2px solid transparent;
	cursor: pointer;
	width: 50%;
	transition: all 0.3s ease-in-out;
}

.profile-btn:hover,
.logout-btn:hover {
	border-bottom: 2px solid var(--bg-color);
}

.header-modal-notifications {
	padding: 1rem 1rem;
	border-bottom: 1px solid rgba(245, 245, 245, 0.151);
}

.header-notifications {
	height: 100%;
	text-align: start;
	font-size: clamp(1rem, 1.15vw, 1.5rem);
	font-weight: bold;
}
