.dashboard-container-main {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	align-items: start;
	justify-content: start;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.dashboard-sidebar-container {
	box-shadow: -5px 0 10px rgba(146, 146, 146, 0.3);
	width: fit-content;
}

.dashboard-content-container {
	padding: 1rem;
	overflow-y: auto;
	height: 100vh;
}

.dashboard-content-header {
	height: 5%;
	position: sticky;
	top: 0;
	background-color: var(--bg-color);
}
