.form-page-three-container {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 75vh;
	overflow-y: scroll;
}

.form-page-three-content {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin: 5% auto;
}

.page-header {
	text-align: start;
}

.header-text {
	font-family: var(--heading-font);
	letter-spacing: clamp(0.2rem, 0.1vw, 0.5rem);
	height: 100%;
	text-align: start;
	font-size: clamp(1.125rem, 1.5vw, 2rem);
	font-weight: bold;
}

.page-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	gap: 1.5rem;
}

.form-fields {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form-fields label {
	font-size: clamp(0.6rem, 1rem, 4rem);
	font-weight: 500;
}

.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.next-btn,
.back-btn {
	padding: 0.3rem 2rem;
}

.sub-header {
	font-weight: 700;
	color: var(--text-hover);
	font-size: clamp(1rem, 1.5vw, 2rem);
}

.habit-log-list {
	list-style: circle;
	padding-left: 5%;
}
