.form-page-one-container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.form-page-one-content {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin: 5% auto;
}

.form-header {
	text-align: start;
}

.header-form-text {
	font-family: var(--heading-font);
	letter-spacing: clamp(0.2rem, 0.1vw, 0.5rem);
	height: 100%;
	text-align: start;
	font-size: clamp(1.125rem, 1.5vw, 2rem);
	font-weight: bold;
}

.form-contents {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1.5rem;
}

.form-fields {
	display: flex;
	flex-direction: column;
}

.form-fields label {
	font-size: clamp(0.6rem, 1rem, 4rem);
	font-weight: 500;
}

.next-btn {
	padding: 0.3rem 2rem;
}

.next-btn:hover {
	background-color: var(--hover-button);
}

.form-button-container {
	display: flex;
	justify-content: end;
}

.text-area-page01 {
	min-height: 5rem;
}
