@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Dots&display=swap');
@import 'tailwindcss';

:root {
	--bg-color: #d1f8ef;
	--text-color: #3674b5;
	--text-hover: #35587e;
	--main-button: #35587e;
	--hover-button: #366fac;
	--image-filter: invert(1) contrast(100%);

	--heading-font: 'Zen Dots';
	--common-font: 'Inter';

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dark {
	--bg-color: #1a202c;
	--text-color: #d1f8ef;
	--text-hover: #366fac;
	--image-filter: none;
	--main-button: rgb(39, 53, 83);
	--hover-button: rgb(25, 43, 63);
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: linear-gradient(to bottom, var(--bg-color));
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, #64b5f6, #4fc3f7);
	border-radius: 10px;
	transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(45deg, #42a5f5, #29b6f6);
}

body {
	margin: 0;
	padding: 0 5rem;
	min-width: fit-content;
	min-height: fit-content;
	background-color: var(--bg-color);
	font-family: var(--common-font);
	color: var(--text-color);
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-theme {
	background-color: var(--main-button);
	color: #d1f8ef;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-theme:hover {
	background-color: var(--hover-button);
	color: #e3fdf7;
}

button {
	text-wrap: nowrap;
}

button:hover {
	cursor: pointer;
}

select {
	transition: box-shadow 0.3s ease-in-out;
}

select:hover {
	cursor: pointer;
	box-shadow: var(--main-button) 2px 2px 5px;
}

@media (max-width: 780px) {
	body {
		padding: 0 1rem;
	}
}
