/*Containers*/
.hs-container-main {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 1fr 0.5fr;
	height: 90vh;
}

.hs-container-images {
	grid-row: span 2;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hs-container-texts {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 5rem 0;
	gap: 1rem;
	animation: fadeUp 0.8s ease-in-out;
}

.hs-container-buttons {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: end;
	animation: fadeUp 1s ease-in-out;
}

/*Components*/
.hs-image {
	aspect-ratio: 4/4;
	height: 40vw;
	animation: fadeIn 1s ease-in-out;
}

.hs-text-header {
	font-family: var(--heading-font);
	font-size: clamp(2rem, 3.7vw, 6rem);
	text-wrap: pretty;
	font-weight: 700;
	letter-spacing: clamp(2px, 5px, 15px);
	line-height: clamp(2rem, 3.7vw, 6rem);
}

.hs-text-subtext {
	font-size: clamp(1rem, 1.128vw, 4rem);
	text-wrap: stable;
	letter-spacing: clamp(2px, 4px, 6px);
	line-height: clamp(1rem, 1.128vw, 4rem);
}

.cta-btn {
	padding: 0.5rem 2.5rem;
	transition: background 0.2s ease-in-out;
}

.cta-btn:hover {
	background-color: var(--hover-button);
}

@media (max-width: 720px) {
	.hs-container-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80vh;
		gap: 2rem;
	}

	.hs-container-images {
		grid-row: span 1;
		height: fit-content;
	}

	.hs-container-texts {
		margin: 0;
		padding: 0;
		justify-content: center;
		height: fit-content;
		text-align: center;
	}

	.hs-container-buttons {
		align-items: center;
	}
}

/*animations*/
@keyframes fadeIn {
	0% {
		transform: scaleX(1) scaleY(1);
		opacity: 0;
	}
	50% {
		transform: scaleX(1.05) scaleY(1.05);
		opacity: 0.5;
	}
	100% {
		transform: scaleX(1) scaleY(1);
		opacity: 1;
	}
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0rem);
	}
}
